@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Your content here -->
<div class="row">
    <div class="col-2">
        <h1>
            Here shopping becomes <br />simple!
        </h1>
        <p>
            "We trust something in a grocery store and assume it's good. We don't learn about the most precious thing in life—
            <br />the food we put in our body. Educate yourself!"
        </p>
        <a href="" class="btn">Explore Now &#10140;</a>
    </div>
    <div class="col-2">
        <img src="https://seeyashop.netlify.app/images/image1.png" alt="" />
    </div>
</div>
    <!-- ---------featured categories--------   -->
    <div class="small-container">
        <h2 class="title">Categories</h2>
        <div class="row">
            <div class="col-4">
                <a href="fashion-child-product.html" target="_blank"><img src="https://th.bing.com/th/id/R.8d72fe78558db23d1fb0405ae8f05e3b?rik=eF2ABMqZW8cvXw&riu=http%3a%2f%2fsunhouseviet.com%2fwp-content%2fuploads%2f2017%2f08%2fnoi-com-dien-tu-sunhouse-shd8903.jpg&ehk=SMUpryUonEH8F6ydJK4ewhfs5Js6GFEH1kudqQcSB54%3d&risl=&pid=ImgRaw&r=0" alt=""></a>
                <a href="fashion-child-product.html" target="_blank"><h4>Clothes</h4></a>
                <a href="fashion-child-product.html" target="_blank"><p>explore more..</p></a>
            </div>
            <div class="col-4">
                <a href="gift-product.html" target="_blank"><img src="https://muahangtaikho.vn/media/product/4318_may_giat_long_ngang_toshiba_inverter_95kg_twbk105g4vss_nb90d4.jpg" alt=""></a>
                <a href="gift-product.html" target="_blank"><h4>Gift</h4></a>
                <a href="gift-product.html" target="_blank"><p>explore more..</p></a>
            </div>
            <div class="col-4">
                <a href="toys-product.html" target="_blank"><img src="https://dungcumakita.com.vn/wp-content/uploads/2018/04/MAY-KHOAN-BE-TONG-HR2600-1.png" alt=""></a>
                <a href="toys-product.html" target="_blank"><h4>Toys</h4></a>
                <a href="toys-product.html" target="_blank"><p>explore more..</p></a>
            </div>
            <div class="col-4">
                <a href="footwear-product.html" target="_blank"><img src="https://img14.360buyimg.com/pop/jfs/t1/113292/21/26954/21975/632e7f2cEf8998b94/10235af73fa7bfab.png" alt=""></a>
                <a href="footwear-product.html" target="_blank"><h4>Footwear</h4></a>
                <a href="footwear-product.html" target="_blank"><p>explore more..</p></a>
            </div>
        </div>

        <!-- ---------featured products--------   -->
        <h2 class="title">Featured Products</h2>
        <div class="row">
            <div class="col-4">
                <img src="https://img14.360buyimg.com/pop/jfs/t1/113292/21/26954/21975/632e7f2cEf8998b94/10235af73fa7bfab.png" alt="">
                <h4><a href="product-detial-child1.html" target="_blank">Lancha</a></h4>
                <p>500rs.</p>
            </div>
            <div class="col-4">
                <img src="https://cdn.nguyenkimmall.com/images/detailed/614/10043954-may-giat-panasonic-inverter-12-5-kg-na-fd12vr1bv-1_ubt0-sz.jpg" alt="">
                <h4><a href="product-detials-child2.html" target="_blank">Lehnga</a></h4>
                <p>500rs.</p>
            </div>
            <div class="col-4">
                <img src="https://tiger.net.vn/wp-content/uploads/2020/04/CRP-JHR1060FD.jpg" alt="">
                <h4><a href="product-detials-saree.html" target="_blank">lancha/lehnga</a></h4>
                <p>600rs.</p>
            </div>
            <div class="col-4">
                <img src="https://cuckoo.vn/wp-content/uploads/2021/08/Cuckoo-CRP-FHR067FG-2.jpg" alt="">
                <h4><a href="product-detials-gift.html" target="_blank">Frame Gift</a></h4>
                <p>210rs.</p>
            </div>
            <div class="col-4">
                <img src="https://th.bing.com/th/id/OIP._Dnq6wBwiJX4EwUJ5V3d3gHaHa?w=800&h=800&rs=1&pid=ImgDetMain" alt="">
                <h4><a href="product-detials-toy.html" target="_blank">Truck</a></h4>
                <p>85rs.</p>
            </div>
            <div class="col-4">
                <img src="https://makitathanhhoa.com/wp-content/uploads/2020/01/may-khoan-be-tong-pin-makita-hr140dsye-12v_3024.jpg" alt="">
                <h4><a href="product-detials-shoes.html" target="_blank">Boys Sports Shoes</a></h4>
                <p>265rs.</p>
            </div>
            <div class="col-4">
                <img src="https://salt.tikicdn.com/ts/product/fb/d8/6b/d28790f6d6d2eab0533fa73e9700f58a.jpg" alt="">
                <h4><a href="product-detials-speaker.html" target="_blank">Wireless Bluetooth Speakers</a></h4>
                <p> 340rs. </p>
            </div>
            <div class="col-4">
                <img src="https://salt.tikicdn.com/ts/product/81/b1/9a/084e2825e570d1df779c953a37ba8106.jpg" alt="">
                <h4><a href="product-detials-sound.html" target="_blank">Desk Speaker</a></h4>
                <p> 240rs. </p>
            </div>
        </div>

        <!-- -----offer------ -->
        <div class="offer">
            <div class="small-container">
                <div class="row">
                    <div class="col-2">
                        <img src="https://seeyashop.netlify.app/images/electronic/speaker1.png" class="offer-img">
                    </div>
                    <div class="col-2">
                        <p>Exclusively Available On SiyaShop</p>
                        <h1>Wireless Portable Bluetooth Speakers</h1>
                        <small>B M C Wireless Portable Bluetooth Speakers kt-125 with Mobile Holder, with USB, Memory Card and Bluetooth Connectivity (Kt-125)</small><br>
                        <a href="product-detials-speaker.html" target="_blank" class="btn">Buy Now &#10140</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- ------testimonial------ -->
        <div class="testimonial">
            <div class="small-container">
                <div class="row">
                    <div class="col-3">
                        <p>"We are treat the customer as god. Sales are good due to low profit business, customers are satisfied with us because of the price."</p>
                        <img src="https://seeyashop.netlify.app/images/user-3.png" alt="">
                        <h3>Values And Beliefs</h3>
                    </div>
                    <div class="col-3">
                        <p>"We are treat the customer as god. Sales are good due to low profit business, customers are satisfied with us because of the price."</p>
                        <img src="https://seeyashop.netlify.app/images/user-3.png" alt="">
                        <h3>Build A Connection</h3>
                    </div>
                    <div class="col-3">
                        <p>"We are treat the customer as god. Sales are good due to low profit business, customers are satisfied with us because of the price."</p>
                        <img src="https://seeyashop.netlify.app/images/user-3.png" alt="">
                        <h3>Certifications, Awards</h3>
                    </div>
                </div>
            </div>
        </div>

        <!-- -------brands------ -->
        <div class="brands">
            <div class="small-container">
                <div class="row">
                    <div class="col-5">
                        <img src="https://seeyashop.netlify.app/images/brands/logo-godrej.png">
                    </div>
                    <div class="col-5">
                        <img src="https://seeyashop.netlify.app/images/brands/logo-oppo.png">
                    </div>
                    <div class="col-5">
                        <img src="https://seeyashop.netlify.app/images/brands/logo-paypal.png">
                    </div>
                    <div class="col-5">
                        <img src="https://seeyashop.netlify.app/images/brands/logo-philips.png">
                    </div>
                    <div class="col-5">
                        <img src="https://seeyashop.netlify.app/images/brands/logo-pampers.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
